:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Josefin Sans", sans-serif;
}

body {
  background-image: url(images/city-night-time-lapse.jpg);
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  max-width: 400px;
  margin: 120px auto 20px auto;
  text-align: center;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

select {
  display: block;
  margin: 0 auto 30px auto;
  width: 90%;
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #3ea9bca6;
  line-height: 24px;
}

.city-time {
  font-size: 28px;
}

.city-time small {
  font-size: 18px;
  vertical-align: middle;
}

.city:last-child {
  border-bottom: none;
}

.container h1 {
  font-family: var(--primary-font);
}

.container h2,
h3 {
  font-family: var(--secondary-font);
}

.container a {
  text-decoration: none;
}
.container a:hover {
  color: ;
}

.date {
  opacity: 0.8;
  font-family: var(--secondary-font);
}

footer {
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: var(--secondary-font);
}

footer a {
  text-decoration: none;
  color: aquamarine;
}
